<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <link rel="stylesheet" href="./styles/global.css" />
      <link rel="stylesheet" href="./styles/navbar.css" />
      <link rel="stylesheet" href="./styles/landing.css" />
      <title>Imbangala</title>
   </head>
   <body>
      <div id="landing">
         <nav id="navbar">
            <div id="logo">
               <img id="logotype" src="./images/Logotype.png" alt="Logotipo" />
               <h1>IMBANGALA</h1>
            </div>
            <div id="links">
               <a class="navbar-link" href="#"> QUEM SOMOS </a>
               <a class="navbar-link" href="#"> POSTAGENS </a>
               <a class="navbar-link" href="/criar-conta"> CRIAR CONTA </a>
               <a class="navbar-link" href="#"> ENTRAR </a>
            </div>
         </nav>
         <div id="logo-container">
            <img src="./images/Logo.png" />
         </div>
         <div id="posts-carrousel-container">
            <img src="./images/ArrowLeft.svg" alt="Seta para esquerda" />
            <div class="post-carrousel">
               <div class="text">
                  <h1 class="title">
                     Lorem ipsum dolor sit amet, consectetur.
                  </h1>
                  <h2 class="subtitle">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                     Duis nisi risus, posuere eget.
                  </h2>
               </div>
            </div>
            <div class="post-carrousel">
               <div class="text">
                  <h1 class="title">
                     Lorem ipsum dolor sit amet, consectetur.
                  </h1>
                  <h2 class="subtitle">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                     Duis nisi risus, posuere eget.
                  </h2>
               </div>
            </div>
            <div class="post-carrousel">
               <div class="text">
                  <h1 class="title">
                     Lorem ipsum dolor sit amet, consectetur.
                  </h1>
                  <h2 class="subtitle">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                     Duis nisi risus, posuere eget.
                  </h2>
               </div>
            </div>

            <img src="./images/ArrowRight.svg" alt="Seta para direita" />
         </div>
      </div>
   </body>
</html>
