<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <link rel="stylesheet" href="./styles/global.css" />
      <link rel="stylesheet" href="./styles/navbar.css" />
      <link rel="stylesheet" href="./styles/signup.css" />
      <title>Imbangala</title>
   </head>
   <body>
      <div id="landing">
         <nav id="navbar">
            <div id="logo">
               <img id="logotype" src="./images/Logotype.png" alt="Logotipo" />
               <h1>IMBANGALA</h1>
            </div>
            <div id="links">
               <a class="navbar-link" href="#"> QUEM SOMOS </a>
               <a class="navbar-link" href="#"> POSTAGENS </a>
               <a class="navbar-link" href="/criar-conta"> CRIAR CONTA </a>
               <a class="navbar-link" href="#"> ENTRAR </a>
            </div>
         </nav>
         <div id="background-one"></div>
         <div id="content">
            <form action="">
                <h1>Criar conta</h1>
                <div id="inputs">
                   <div>
                      <label for="name">Nome completo</label>
                      <input type="text" name="name" required />
                   </div>
                   <div>
                      <label for="email">Email</label>
                      <input type="email" name="email" required />
                   </div>
                   <div>
                      <label for="password">Senha</label>
                      <input type="password" name="password" required />
                   </div>
                   <div>
                      <label for="password">Confirmar senha</label>
                      <input type="password" name="confirm-password" required />
                   </div>
                </div>
                <button>REGISTRAR</button>
             </form>
         </div>
         <div id="background-two"></div>
      </div>
   </body>
</html>
